name: Test

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          architecture: "x64"
          cache: pnpm

      - name: Install
        run: pnpm install -w

      - name: Test
        run: |
          pnpm typecheck
          pnpm test
